img { max-width: 100%; }
textarea { resize: vertical; }

.rte-content {

}

// Bootstrap - removing gutter from .row class
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.sweet-alert h2 { font-size: 26px; }
.sweet-alert p { font-size: 14px; }

a, button{
  text-decoration: none;
  transition: all 200ms ease-out;
}

button:active,
button:hover,
button:focus,
a:active,
a:hover,
a:focus{ outline: none !important; }

.loader {
  position: fixed; top: 0; left: 0;
  z-index: 1200;
  width: 100%; height: 100%;
  background-color: transparentize(#edaf4f,0.5);
  .spinner {
    width: 70px;
    height: 22px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    > div {
      width: 18px;
      height: 18px;
      background-color: #333;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    & .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    & .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }
}

/**
 * Outdated Browser Alert
 */

.outdated-browser {
  display: none;
  position: fixed; top: 0; left: 0; width: 100%;
  z-index:999999;
  font-family: helvetica, Arial;
  text-align: center; text-transform: uppercase;
  background-color: #f25648; color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  h6 {font-size: 25px; line-height: 25px; margin: 0 0 10px;}
  p {font-size: 12px; line-height: 12px; margin: 0;}
  .update-btn {
    display: block; position: relative;
    padding: 10px 20px; margin: 30px auto 0; width: 230px;
    color: #ffffff; text-decoration: none; border: 2px solid #ffffff; cursor: pointer;
    &:hover{color: #f25648; background-color:#ffffff;}
  }
  .close-btn {
    position: absolute; top: 10px; right: 25px;
    text-decoration: none; color: #ffffff; font-size: 36px; line-height: 1;
  }
}
