/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/* ==========================================================================
   Base Styles
   ========================================================================== */
@import 'base';

/**
 * Helper Variables & Functions
 */

//vars
$blue: #3a434a;
$gold: #edaf4f;
$black: #505050;

$font: 'Titillium Web', helvetica, arial, sans-serif;

body {
    font: 1.4em/1.4 $font;
    color: $black;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    background: url(../img/bg-dots.png) repeat;

}

.text-primary {
    color: $gold;
}

table, th, td {
    border: 1px solid rgba(58, 67, 74, 0.5);
}

td, th {
    padding: 10px;
}

a {
    color: $blue;
    cursor: pointer !important;

    &:hover, &:focus {
        color: $gold;
        text-decoration: none;
    }
}

a, button {
    transition: all 0.3s ease;
}

p {
    line-height: 25px;
}

.container {
    position: relative;
}

// Top header
.top-header {
    background-color: transparentize($blue, 0.1);
    padding: 7px 0;
    font-size: 13px;
    font-weight: bold;
    color: white;

    ul {
        margin: 0;

        li {
            margin-left: 5px;
        }
    }

    a {
        color: #FFF;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: $gold;
        }
    }

    .btn-group {
        display: block;
    }

    .open .dropdown-toggle {
        color: $gold;
        box-shadow: none;
    }
    .social{
        a{
            display: block;
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 50%;
            line-height: 25px;
            padding: 0;
            background-color: $gold;
            letter-spacing: 0;
            .fa{
                color: $blue;
                text-align: center;
                margin-right: 0;
            }
        }
    }

    .fa {
        color: $gold;
        margin-right: 5px;
    }
}

.navbar {
    background-color: white;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: 0;
    &.fixed{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #FFF;
        z-index: 999;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }

    .nav > li {
        padding: 3px 15px;
        margin-top: 10px;
        position: relative;

        &:first-child::before, &:last-child::before {
            display: none;
        }
        @media (min-width: $screen-xs-max) {
            &::before {
                content: '';
                width: 1px;
                height: 20px;
                display: block;
                background-color: #cecece;
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }

    li:hover > ul.dropdown-menu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

    .dropdown-menu {
        min-width: 300px;
        padding: 5px 10px;
    }

    li a {
        color: #888;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        padding: 0 0 5px;

        &:hover, &:focus, &.active {
            color: $gold;
            background: none;
        }

        @media (min-width: $screen-sm-min) {
            &:hover, &:focus, &.active {
                color: $gold;
                border-bottom: 3px solid $gold;
            }
        }
    }
    .navbar-toggle .icon-bar {
        background-color: $blue;
    }

    .navbar-collapse {
        margin-top: 5px;
    }

    .navbar-header {
        margin-bottom: 5px;
    }

    .navbar-brand {
        width: 163px;
        padding: 0 15px;
        height: auto;
    }

    .btn-cta {
        background-color: $gold;
        border-radius: 3px;
        display: inline-block;
        color: #FFF;
        padding: 6px 10px 5px;
        margin-top: -10px;
        line-height: 14px;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        &:hover, &:active {
            background-color: $blue;
            border-bottom: none;
        }
    }

    .social-network.first {
        margin-left: 50px;
    }

    .social-network {
        margin-top: 6px;
        margin-left: 8px;
        padding: 0;

        &::before {
            display: none;
        }

        a {
            background-color: $blue;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: block;
            padding: 0;
            line-height: 30px;
            text-align: center;
            color: #FFF;
        }
    }
}

.header {
    position: relative;
    height: 300px;
    background-color: #A8C8DD; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover;
    background-position: center !important;

    .home & {
        height: 550px;
        @media (max-width: $screen-xs-max) {
            height: 850px;
        }
    }
    body.tn-site.home & {
        @media (max-width: $screen-xs-max) {
            height: 300px;
        }
    }
    .page-title {
        position: absolute;
        top: 70px;
        right: 10px;
        color: white;
        font-size: 42px;
        text-transform: uppercase;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        text-align: center;

        .intervantion {
            display: block;
            color: $gold;
            font-size: 21px;
            text-align: center;
        }
    }
}

.consultation-form {
    margin-top: 3px;
    @media (max-width: $screen-xs-max) {
        body:not(.tn-site) #banner & {
            margin-top: 300px;
        }
    }
    z-index: 1;
    background-color: $blue;
    border-radius: 10px;
    padding: 0 25px 20px;
    box-shadow: 0 6px 20px 4px rgba(77, 85, 92, 0.3);

    .title {
        text-transform: uppercase;
        color: white;
        margin-bottom: 20px;

        .white {
            display: block;
            font-weight: 700;
            color: $gold;
            font-size: 22px;
        }
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        color: white;
        letter-spacing: 1px;
    }

    .form-control {
        //border-radius: 30px !important;
        height: 30px;
        border: 0px;
        background-color: #f4f5f7;
        box-shadow: none;
        padding: 5px 20px;
        font-size: 13px;
        overflow: hidden;
        color: black;
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
    }

    .iti.iti--allow-dropdown .form-control{
        padding-left: 52px;
    }

    .bootstrap-select,.iti.iti--allow-dropdown{
        width: 100% !important;
    }
    .bootstrap-select{
        .form-control{
            border: 1px solid #ddd;
        }
        .dropdown-header{
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
        }
    }

    textarea {
        height: 50px;
        padding-top: 7px;
        resize: vertical;
        &.form-control {
            height: 50px;
        }
    }

    .submit {
        background: $gold;
        color: $blue;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        font-size: 17px;
        padding: inherit;
    }
}

#banner {
    height: 550px;
    width: 100%;
    @media (max-width: $screen-xs-max) {
        height: 850px;
        body.tn-site &{
            height: 300px;
        }
    }
    .carousel-inner {
        position: absolute;
        top: 0;
    }
    .item {
        text-align: center;
        &.item1{
            .container{
                display: block;
            }
            .content{
                position: absolute;
                color: #FFF;
                bottom: -360px;
                @media (max-width: $screen-xs-max) {
                    bottom: -250px;
                    left: 50px;
                }
                .title{
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #FFF;
                    text-shadow: 0 3px 10px rgba(0,0,0,0.5);
                    @media (max-width: $screen-xs-max) {
                        font-size: 24px;
                    }
                    small{
                        display: block;
                        color: #FFF;
                    }
                }
                .description{
                    font-size: 17px;
                    @media (max-width: $screen-xs-max) {
                        font-size: 16px;
                    }
                    max-width: 300px;
                    color: rgba(255,255,255,0.9);
                    margin-bottom: 30px;
                    text-shadow: 0 3px 10px rgba(0,0,0,0.5);
                }
                .btn-link{
                    color: #FFF;
                    text-decoration: none;
                    cursor: default;
                }
                .btn-secondary{
                    background: #edaf4f;
                    font-size: 16px;
                    padding: 8px 25px;
                    border-radius: 40px;
                    display: inline-block;
                    color: #3a434a;
                    font-weight: bold;
                    &:hover {
                        background-color: $blue;
                        color: $gold;
                    }
                }
            }
        }
    }
    .carousel-control{
        width: 60px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 550px;
        max-width: none;
        display: inline-block;
        @media (max-width: $screen-xs-max) {
            margin-left: -170px;
            height: 300px;
        }
    }
}


.operation {
    .title {
        margin-top: 0;
    }
    padding: 60px 0;
    background: transparentize(#2463a8, 0.9);
    text-align: center;

    .operation-item {
        display: inline-block;
        width: 193px;
        height: 228px;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 0 5px;
        border-radius: 5px;
        @media (max-width: $screen-xs-max) {
            width: 80%;
            margin: 25px auto 0;
            height: auto;
        }

        .mask {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            padding-top: 35px;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: transparentize($blue, 0.3);;
            transition: all 0.4s ease-in-out;
            border-radius: 5px;
            overflow: hidden;

            & div {
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                transform: translateY(100px);
                transition: all 0.4s ease-in-out;
            }
        }

        .control-wrap {
            background-color: $blue;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            z-index: 10;
            border-radius: 5px;

            .arrow {
                position: absolute;
                top: -10px;
                left: 7px;
                color: $blue;
            }
        }

        .title {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            margin: 0;
            margin-top: 12px;
            transition: all 0.2s ease-in-out;
        }

        .read-more {
            color: $gold;
            font-size: 12px;
            font-weight: 600;
            display: block;
            text-transform: uppercase;
            position: relative;
            transition: all 0.4s ease-in-out;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -8px;
                height: 3px;
                width: 40px;
                background-color: $gold;
                border-radius: 2px;
            }
        }

        img {
            display: block;
            position: relative;
            transition: all 1s ease-in-out;
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }

        p {
            font-size: 12px;
            line-height: 14px;
            position: relative;
            color: #fff;
            padding: 10px 20px 20px;
            text-align: center;
            transform: translateY(100px);
            opacity: 0;
            transition: all 0.2s linear;
        }

        &:hover {
            .title {
                opacity: 0;
                transform: translateY(-20px);
            }

            .read-more {
                transform: translateY(-20px);
            }

            .mask {
                opacity: 1;
            }

            p {
                transition-delay: 0.2s;
            }

            & h2, & p {
                opacity: 1;
                transform: translateY(0px);
            }

            img {
                transform: scale(1.1, 1.1);
            }

            .mask div {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}


/* Custom page footer */
.footer {
    padding: 30px 0 20px;
    background-color: $gold;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

    p {
        line-height: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-col {
        position: relative;
        padding-left: 40px !important;
        @media (max-width: $screen-xs-max) {
            &.address, &.logo-footer {
                text-align: center;
                margin-top: 15px;
                padding-left: 0 !important;

                &::before {
                    display: none;
                }
            }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            &.logo-footer {
                text-align: center;
                margin-top: 15px;
                padding-left: 0 !important;

                &::before {
                    display: none;
                }
            }
        }

        &:first-child {
            padding-left: 0 !important;

            &::before {
                display: none;
            }
        }

        &::before {
            content: "";
            height: 50px;
            border-left: 2px dotted #fff;
            position: absolute;
            left: 0;
            top: 0px;
        }

        a {
            color: #fff;
            text-transform: uppercase;

            &:hover {
                color: $blue;
            }
        }

        .fa {
            margin-right: 10px;
        }
    }
}


h1 {
    color: $gold;
}

.navbar .navbar-header {
    .btn-cta {
        display: none;
        margin-right: 10px;
        float: right;
    }
}

@media (max-width: $screen-xs-max) {
    .top-header {
        ul li {
            margin-left: 2px;
        }

        a {
            font-size: 11px;
        }
    }

    .navbar {
        border: 0;
        .navbar-brand{
            width: 123px;
            margin-top: 7px;
        }
        .navbar-header {
            .btn-cta {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
    header .navbar .navbar-brand {
        width: 130px;
        margin-top: 5px;
    }
    ul.nav.navbar-nav {
        background: #3A434A;
        text-align: center;
        margin: 0 -15px;
        padding: 7.5px 0;

        a {
            color: #FFF;
            border: 0;

            &:hover {
                border: none;
            }
        }

        .social-network.first {
            margin-left: 33%;
        }

        .social-network {
            float: left;
            text-align: center;
            margin-bottom: 20px;

            a {
                background-color: $gold;
                color: $blue;
                border: none;
            }
        }
    }
}

/*  Tablet
------------------------------*/
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .navbar-header {
        width: 100%;

        .navbar-brand {
            display: block;
            margin: 0 auto !important;
            float: none;
        }
    }
    #navbar {
        .nav {
            margin: 10px auto !important;
            float: none !important;
            display: list-item;
            width: 624px;
        }
    }
}

.info-section {
    text-align: center;
    padding: 50px 0;
    background: $blue;

    .bloc {
        background: url(../img/bubbles.svg) 0 10px no-repeat;
        background-size: 60px;
        padding-left: 80px;
        display: inline-block;
        text-align: left;
        width: 310px;
        @media (max-width: $screen-xs-max) {
            display: block;
            margin: auto;
        }

        &.contact-bloc {
            background-image: url(../img/vcard.svg);
            @media (max-width: $screen-xs-max) {
                margin-top: 40px;
            }
            @media (min-width: $screen-sm-min) {
                margin-left: 50px;
                width: 265px;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    height: 65px;
                    border-left: 3px dotted #6e7f90;
                    position: absolute;
                    top: 15px;
                    left: -30px;
                }
            }
        }

        .title {
            color: $gold;
            font-weight: 600;
            font-size: 26px;
            border-bottom: 1px dashed #fff;
            width: 180px;
            margin-top: 0;
        }

        p {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
        }
    }
}

.sub-title.decorated {
    display: block;
    height: 10px;
    width: 80%;
    margin: 0 auto 30px;

    span {
        font-style: normal;
        //padding: 0 20px;
    }
}


.home {
    h1.title {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .sub-title {
        text-transform: uppercase;
    }

    .presentation {
        padding: 20px 0 0;

        .lead {
            font-weight: bold;
        }

        .sub-title {
            display: block;
            border-bottom: 1px solid #ccc;
            display: block;
            height: 10px;
            width: 80%;
            margin: 0 auto 30px;

            span {
                background: white;
                font-style: normal;
                padding: 0 20px;
            }
        }

        p {
            width: 90%;
            margin-top: 30px;
            text-align: justify;
        }

        .btn {
            background: #fcc97a;
            font-size: 16px;
            padding: 4px 25px;
            border-radius: 40px;
            display: inline-block;
            color: #FFF;
            font-weight: bold;
            margin-top: 20px;

            &:hover {
                background-color: $blue;
                color: $gold;
            }
        }
    }
}

.videos-section {
    padding: 10px 0 60px;
    background-color: rgba(36, 99, 168, 0.1);

    .video-title{
        font-weight: bold;
        color: $gold;
    }
    iframe.fb-video{
        height: 400px;
        @media (max-width: $screen-xs-max) {
            height: 200px;
        }
    }

    .section-title {
        margin-bottom: 40px;
    }

    .btn {
        background: #fcc97a;
        font-size: 16px;
        padding: 4px 25px;
        border-radius: 40px;
        display: inline-block;
        color: #FFF;
        font-weight: bold;
        margin-top: 20px;

        &:hover {
            background-color: $blue;
            color: $gold;
        }
    }
}

/* INNER PAGES
===========================*/

.btn-cta-content {
    background-color: $blue;
    border-radius: 40px;
    padding: 10px 25px 7px;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    font: {
        size: 13px;
        weight: 600;
    }

    i {
        color: $gold;
        margin-left: 6px;
    }

    &:hover {
        background-color: $gold;
        color: $blue;

        i {
            color: $blue;
        }
    }
}

#sidebar {
    background-color: transparentize($blue, 0.8);
    padding-top: 30px;
    height: 100%;
    padding-bottom: 99999px;
    margin-bottom: -99999px;

    .branchs-list {
        li > a {
            background-color: $blue;
            display: block;
            border-radius: 5px;
            margin: 2.5px auto;
            width: 100%;
            color: #FFF;
            text-align: center;
            padding: 7px 10px;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
        }

        a.branch-btn {
            padding-bottom: 15px;

            .title {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                margin: 0;
                margin-top: 12px;
                transition: all 0.1s ease-in-out;
            }

            .read-more {
                color: $gold;
                font-size: 12px;
                font-weight: 600;
                display: block;
                text-transform: uppercase;
                position: relative;
                transition: all 0.2s ease-in-out;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -3px;
                    height: 3px;
                    width: 40px;
                    background-color: $gold;
                    border-radius: 2px;
                }
            }

            &:hover {
                background-color: $gold;

                .title {
                    color: darken($gold, 40%);
                }

                .read-more {
                    color: $blue;
                }
            }
        }

        li.active {
            a.branch-btn {
                margin-bottom: 8px;

                &::after {
                    font: normal normal normal 14px/1 'FontAwesome';
                    content: "\f0d7";
                    width: 32px;
                    font-size: 16px;
                    display: inline-block;
                    position: absolute;
                    right: -2px;
                    bottom: -9px;
                    color: $blue;
                }
            }

            .treatments-list {
                display: block;
            }
        }
    }

    .treatments-list {
        display: none;

        a.treatment-btn {
            background-color: #85909c;
            color: #b4bac1;

            &.active, &:hover {
                background-color: $gold;
                color: #FFF;
            }

        }
    }

    .contact-box {
        background: $gold url(../img/vcard-white.svg) no-repeat center 25px;
        color: #fff;
        border-radius: 5px;
        padding: 70px 15px 10px;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        margin: 10px 0 20px;

        p {
            line-height: 18px;
        }

        big {
            font-size: 15px;
            font-weight: bold;
        }

        h4 {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .myron-box {
        padding: 20px;
        text-align: center;
        font-size: 12px;

        img {
            width: 80%;
            margin-bottom: 30px;
        }

        p {
            line-height: 18px;
        }

        a {
            background-color: $gold;
            padding: 8px 20px;
            border-radius: 30px;
            font-weight: bold;
            color: #FFF;
            margin-top: 10px;
            display: inline-block;

            &:hover {
                background-color: $blue;
                color: $gold;
            }
        }
    }
}

// END #sidebar


.inside-page {
    overflow: hidden;
    height: 100%;
    border-top: 5px solid $blue;
    min-height: 400px;
}


.content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-grow: 1;

    .content {
        padding-bottom: 20px;

        a {
            color: $gold;

            &:hover {
                color: $blue;
            }
        }

        ul {
            margin: 20px 0;

            li {
                margin-bottom: 8px;
            }
        }

        h4 {
            font-weight: bold;
            color: #85909C;
            font-size: 16px;
        }

        h3 {
            color: #3a434a;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .content-title, .content h2 {
        margin-top: 5px;
        color: $gold;
        font: {
            size: 27px;
            weight: bold;
        }
        text-transform: uppercase;
        border-bottom: 1px solid transparentize($blue, 0.5);
    }
}


.gallery-wrapper {
    .title {
        text-transform: uppercase;
        font-size: 24px;
    }

    .picture-wrapper {
        height: 110px;
        width: 100%;
        overflow: hidden;
        display: inline-block;
        background: #ccc;
        border-radius: 5px;
        position: relative;
        padding: 0;
        margin: 5px;

        .overlay {
            position: absolute;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            transition: background-color 0.5s ease;
        }

        img {
            transition: transform 3s ease;
            position: absolute;
            z-index: 0;
        }

        &:hover {
            .overlay {
                background-color: rgba(0, 0, 0, 0);
            }

            img {
                transform: scale(1.2);
            }
        }
    }
}

.contact-page {
    .phone-list {
        font-weight: bold;
        font-size: 18px;

        li {
            margin-left: 20px;
            display: inline-block;
        }
    }

    .contact-form {
        margin-top: 30px;
        margin-bottom: 30px;

        input, textarea {
            background-color: #c7d3e0;
            color: #FFF !important;
            box-shadow: none;
            border-color: darken(#c7d3e0, 5%);
            font-weight: bold;
        }

        button#submit {
            background-color: $gold;
            font-weight: bold;
            font-size: 16px;
            color: #FFF;
            border: none;
        }

        ::-webkit-input-placeholder {
            color: white;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: white;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: white;
        }

        :-ms-input-placeholder {
            color: white;
        }
    }
}

.cv-page {
    .picutre-wrapper {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 1px solid $blue;
        overflow: hidden;
        padding: 10px;
        margin-right: 20px;
    }

    .description {
        p {
            margin-bottom: 5px;
        }
    }
}

.tabs-wrapper {
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: $gold;
        border: none;
        color: #FFF;

        &::after {
            font: normal normal normal 14px/1 'FontAwesome';
            content: "\f0d7";
            width: 32px;
            font-size: 16px;
            display: inline-block;
            position: absolute;
            left: 10px;
            bottom: -9px;
            color: $gold;
        }
    }

    .nav-tabs > li > a:hover {
        background-color: $blue;
    }

    .nav-tabs > li > a {
        padding: 6px 15px 3px;
        border: none;
        border-radius: 30px;
        background-color: #818b94;
        color: #FFF;
        margin-left: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav.nav-tabs {
        border-bottom: none;
    }

    .tab-content {
        margin-top: 25px;
    }
}

// Collapse
.panel-default > .panel-heading {
    background-color: #3A434A;

    a:hover {
        color: #74828E;
    }
}

.modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    .close-modal{
        color: #FFF;
        font-size: 16px;
    }
    .modal-body{
        padding-top: 10px;
    }
    .modal-footer {
        .form-control {
            width: 48%;
            float: left;
            margin-right: 2%;
            border: none;
            color: #FFF;
            font-weight: bold;

            &:last-child {
                margin-right: 0%;
                background-color: $gold;
                border: none;
            }

            &:first-child {
                background-color: #868E92;
            }
        }
    }
}

.testi {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 13px;

    .text {
        background-color: rgb(133, 144, 156);
        border-radius: 4px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 25px;
        color: white;
        font-size: 15px;
        text-align: justify;
    }

    .patient {
        margin-left: 10px;
        margin-top: 20px;

        h4 {
            font-size: 18px;
        }
    }
}

.testimonials-clean p {
    color:#666;
}

.testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .testimonials-clean h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}

.testimonials-clean .intro p {
    margin-bottom:0;
}

.testimonials-clean .people {
    padding:50px 0 20px;
}

.testimonials-clean .item {
    margin-bottom:35px;
}

//@media (min-width:768px) {
//    .testimonials-clean .item {
//        height:220px;
//    }
//}

.testimonials-clean .item .box {
    padding:30px;
    background-color:#eef4f7;
    position:relative;
    //box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:15px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#eef4f7;
}

.testimonials-clean .item .author {
    margin-top:28px;
    padding-left:15px;
    i{
        margin-right: 10px;
        color: #eef4f7;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        background-color: #eeaf4e;
        font-size: 12px;
    }
}

.testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
}

.testimonials-clean .item .title {
    font-size:13px;
    margin-left: 42px;
    margin-top: -10px;
    color: #84909b;
}

.testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
}

.testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
}

